.page-loader {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: saturate(180%) blur(2px);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .15s ease;
}

.page-loader.hidden {
    opacity: 0;
    pointer-events: none;
}